<div class="skills-container">
  <ul class="skills-tree">
    <li *ngFor="let skill of skills">{{skill.name}} - {{skill.capability}}%</li>
  </ul>
  <div>Aenean in enim sed elit faucibus lacinia nec eget enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel purus sit amet dui tempor consequat. Etiam eu erat feugiat, tincidunt purus non, viverra lorem. Sed in egestas neque. Nullam massa velit, rutrum vitae ipsum a, vulputate auctor orci. Aenean venenatis sit amet dui sit amet commodo. Integer ut felis ut neque cursus mollis dapibus ac massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>
