@import url('https://fonts.googleapis.com/css?family=Nunito|Varela+Round');
@import "../../../styles/variables.scss";

.repo-container {
    border: red;
    border-style: solid;
    width: 30%;
    display: -webkit-inline-box;
}