$headertext: #49515a;
$background: "../assets/images/background.jpg";

$facebookRoundButton: "../assets/images/icons/png/facebook-round.png";
$githubRoundButton: "../assets/images/icons/png/github-round.png";
$linkedinRoundButton: "../assets/images/icons/png/linkedin-round.png";
$mailRoundButton: "../assets/images/icons/png/mail-round.png";
$twitterRoundButton: "../assets/images/icons/png/twitter-round.png";